<a href="https://colab.research.google.com/github/JheanSantanaM/PA_2025/blob/main/VariaveisEoperadoresaritimeticos/Variaveiseconstantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#variaveis e constantes

In [ ]:
idade = 15
altura = 1.80
nome = 'jhean'
vai = True

In [ ]:
nomes = ['Jhean','juninho','davi','flavio']
nomes2 = ('Jhean','juninho','davi','flavio')
tudo = {nome:'jhean',idade: 15,altura: 1.80,vai: True}

In [ ]:
print(nome)
print(nomes)
print(nomes2)

jhean
['Jhean', 'juninho', 'davi', 'flavio']
('Jhean', 'juninho', 'davi', 'flavio')

In [ ]:
print(type(idade))
print(type(altura))
print(type(vai))
print(type(nome))
print(type(nomes))
print(type(nomes2))
print(type(tudo))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [ ]:
print('o nome dele é:',nome,', sua idade é: ' , idade, ', ele tem ' , altura, 'metros de altura.')

o nome dele é: jhean , sua idade é:  15 , ele tem  1.8 metros de altura.

In [ ]:
Nome2 = "kleber"
idade2 = 15
print(f"nome: {Nome2}, idade: {idade2}")

nome: kleber, idade: 15

#Area do circulo

In [ ]:
PI = 3.14159
raio = float(input('Digite o valor do raio do circulo'))
areacir = PI * (raio**2)
print(f"A area do circulo é {areacir}")

Digite o valor do raio do circulo5
A area do circulo é 78.53975

# Area do quadrado

In [ ]:
Lado = float(input('digite a area do quadrado:'))
areaqua = Lado ** 2
print(f'area do quadrado: {areaqua}')

digite a area do quadrado:4
area do quadrado: 16.0